@font-face {
   font-family: 'Jeongsong-Regular';
   font-display: swap;
   src: url('file:///C:/Users/xmao-/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-12-14_182614/fonts/Jeongsong-Regular/font.ttf');
}
